<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="online.propaans.goodr.goodr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ReedemActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".CauseActivity" />
        <activity android:name=".MainngoActivity" />
        <activity android:name=".NgoActivity" />
        <activity android:name=".ChoiceActivity" />
        <activity
            android:name=".ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FarmerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SconfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EarnActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThanksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>